player-connection-mode=Listen
player-connection-guid=930634677
player-connection-debug=0
player-connection-project-name=Unity_Photon_PUN2
player-connection-ip=192.168.69.21
player-connection-ip=192.168.48.1
player-connection-ip=172.25.250.1
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
